[submodule "typeshed"]
	path = typeshed
	url = https://github.com/python/typeshed.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "cpython"]
	path = cpython
	url = https://github.com/python/cpython.git
