# Python dependencies for building and testing the pytype source code.
# Make sure you also install the non-Python dependencies described in
# https://github.com/google/pytype/blob/master/CONTRIBUTING.md#pytype-dependencies.
attrs
importlab
ninja
pybind11>=2.6.0rc2
pylint
pyyaml
six
typed_ast
