---

# Outstanding TODOs:
# - manylinux{1,2010,2014}?
# - Auto PyPI upload?
# - Build sdist here too while we're at it?
# - Don't run this on every push ('on' param)

name: Build wheels
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
jobs:
  manylinux_wheels:
    name: Python ${{ matrix.platform }} wheels(${{ matrix.pyver }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform:
          - manylinux2014_x86_64
          - manylinux2014_aarch64
        pyver: [cp36-cp36m, cp37-cp37m, cp38-cp38, cp39-cp39]
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Set up QEMU
        if: matrix.platform == 'manylinux2014_aarch64'
        id: qemu
        uses: docker/setup-qemu-action@v1
      - name: Pull Docker image
        run: |
          DOCKER_IMAGE="quay.io/pypa/${{ matrix.platform }}"
          echo "DOCKER_IMAGE=$DOCKER_IMAGE" >> $GITHUB_ENV
          docker image pull "$DOCKER_IMAGE"
      - name: Build manylinux wheels
        run: |
          docker container run \
            --rm \
            -e PLAT=${{ matrix.platform }} \
            -e PYTHON_TAGS=${{ matrix.pyver }} \
            -v "$(pwd):/io" \
            "$DOCKER_IMAGE" \
            /io/build_scripts/wheels/manylinux.sh
      - uses: actions/upload-artifact@v2
        with:
          name: dist
          path: dist
  macosx_wheels:
    name: Python ${{ matrix.python_version }} MacOS wheels
    # Note: the container MacOS version may differ from the SDK
    # used to build Python there.  It is the latter that determines
    # the wheel's platform tag.
    # https://github.com/actions/virtual-environments/issues/696
    runs-on: macos-latest
    strategy:
      matrix:
        python_version: [3.6, 3.7, 3.8, 3.9]
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Set up Python ${{ matrix.python_version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python_version }}
      - name: Build MacOS wheels
        run: './build_scripts/wheels/macos.sh'
      - uses: actions/upload-artifact@v2
        with:
          name: dist
          path: dist
