name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04]
        python-version: ['3.10', '3.11', '3.12']
        experimental: [false]
        include:
          - os: macos-latest
            python-version: '3.12'
            experimental: false
          - os: windows-latest
            python-version: '3.12'
            experimental: false
          # - os: ubuntu-20.04
          #   python-version: '3.13'
          #   experimental: true
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - name: Install Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true

    - name: Install system packages
      if: runner.os == 'Linux'
      run: sudo apt-get install -y bison cmake flex g++

    - name: Setup Developer Command Prompt
      if: runner.os == 'Windows'
      uses: ilammy/msvc-dev-cmd@v1

    - name: Install Dependencies
      run: pip install -r requirements.txt

    - name: Lint
      if: runner.os == 'Linux' && matrix.python-version == '3.12'
      run: pylint build_scripts pytype pytype_extensions setup.py

    - name: Build
      run: python build_scripts/build.py

    - name: Run Tests
      run: python build_scripts/run_tests.py -f -v
      continue-on-error: ${{ matrix.experimental }}

    - name: Type Check
      if: runner.os == 'Linux'
      run: python out/bin/pytype -j auto
      continue-on-error: ${{ matrix.experimental }}
